<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <!--<welcome-file>index.jsp</welcome-file>-->
        <welcome-file>index.html</welcome-file>
        <welcome-file>homeadmin.jsp</welcome-file>
        
    </welcome-file-list>
    <servlet>
        <servlet-name>Materiaux</servlet-name>
        <servlet-class>Materiaux</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liste_modele</servlet-name>
        <servlet-class>liste_modele</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier</servlet-name>
        <servlet-class>modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoute_modele</servlet-name>
        <servlet-class>ajoute_modele</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liste_materiel</servlet-name>
        <servlet-class>liste_materiel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoute_materiel</servlet-name>
        <servlet-class>ajoute_materiel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier_materiel</servlet-name>
        <servlet-class>modifier_materiel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>home</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>admincetim</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>admincetim22</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ytr</servlet-name>
        <servlet-class>ytr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Materiaux</servlet-name>
        <url-pattern>/Materiaux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liste_modele</servlet-name>
        <url-pattern>/liste_modele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier</servlet-name>
        <url-pattern>/modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoute_modele</servlet-name>
        <url-pattern>/ajoute_modele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liste_materiel</servlet-name>
        <url-pattern>/liste_materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoute_materiel</servlet-name>
        <url-pattern>/ajoute_materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier_materiel</servlet-name>
        <url-pattern>/modifier_materiel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ytr</servlet-name>
        <url-pattern>/ytr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
